<!-- ===================================== -->
<!-- MISION: MOSTRAR UN SOLO TEMA -->
<!-- Muestra el detalle de un topic -->
<!-- ===================================== -->

<!-- Titulo Del Tema -->
<h1><%= topic.title %></h1>

<!-- Descripcion -->
<p><%= topic.description %></p>

<!-- Votos -->
<p>Votos: <%= topic.votes %></p>

<!-- Boton Para Votar un Tema -->
<form action="/topics/<%= topic.id %>/vote" method="POST">
    <button>Votar Tema</button>
</form>

<!-- ID -->
<p>ID: <%= topic.id %></p>

<!-- Link a vista edit -->
<a href="/topics/<%= topic.id %>/edit">Editar</a>

<hr>


<!-- ===================================== -->
<!-- SECCIÓN: LINKS DEL TEMA -->
<!-- ===================================== -->

<h2>Links</h2>

<!-- Recorre Todos los Links Del Tema -->
<% links.forEach(link => { %>

        <div>

            <!-- Titulo -->
            <h3><%= link.title %></h3>
            
            <!-- Descripcion -->
            <p><%= link.description %></p>
            
            <!-- Link/Enlace externo -->
            <a href="<%= link.url %>" target="_blank">Ir al recurso</a>

            <br><br>

            <!-- Link para ir al formulario de edicion -->
            <a href="/links/<%= link.id %>/edit">Editar</a>

            <!-- Formulario para eliminar el link -->
            <form action="/links/<%= link.id %>?_method=DELETE" method="POST">
                <button>Eliminar</button>
            </form>

        </div>

        <hr>
    
    
<% }) %>


<!-- ===================================== -->
<!-- FORMULARIO: CREAR NUEVO LINK -->
<!-- ===================================== -->

<h2>Nuevo Links</h2>


<!-- Formulario Para Crear un Nuevo Link -->
<form action="/topics/<%= topic.id %>/links" method="POST">

    <!-- Titulo Del Link -->
    <input type="text" name="title" placeholder="Titulo" required>

    <!-- URL Del Link -->
    <input type="url" name="url" placeholder="https://.." required>

    <!-- Descripcion opcional -->
    <textarea name="description" placeholder="Descripcion"></textarea>

    <!-- Boton para enviar y agregar el link -->
    <button>Agregar Link</button>

</form>


